/* General Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f9f9f9;
    color: #333;
}


/* Navbar */

nav {
    background: #b30000;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
nav h2 b{
    color: white;
}
nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

nav ul li a:hover {
    color: yellow;
}




.password-message-item.invalid {
    color: red;
    font-weight: bold;
    font-size: 12px;
}
.password-message-item.valid {
    color: green;
    font-weight: bold;
    font-size: 12px;
}


/* Container */

.container {
    max-width: 800px;
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
    text-align: center;
    color: #b30000;
}


/* Form */

form {
    display: flex;
    flex-direction: column;
}

input,
select,
button {
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: #b30000;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #800000;
}


/* Table */

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table,
th,
td {
    border: 1px solid #ddd;
    padding: 10px;
}

th {
    background: #b30000;
    color: white;
}